<ion-content>

  <div id="head">
     <ion-title style="text-align: left;"><ion-icon id="seta" name="arrow-back-outline"></ion-icon> Ricardo Rodrigues</ion-title>
  </div>


  <div id="dados-aluno">

    <ion-card id="dados"> 
      
    </ion-card>
    <br>
    <ion-card id="materiais"> 
      
    </ion-card>
    <br>
    <ion-card id="alerta"> 
      
    </ion-card>
    <br>
    <ion-button id="ok" color="purple" fill="solid" slot="end">Aceitar Doação</ion-button> &nbsp; <ion-button id="cancel" color="purple" fill="solid" slot="end">Cancelar Doação</ion-button>
    
  </div>
</ion-content>
