<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    <img src="./assets/background.jpg" />

    <ion-card-header>
      <ion-card-title>Olá, bem-vindo(a)!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Somos o Squad 18 e este é o nosso aplicativo para doação de materiais escolares!
      As telas serão disponibilizadas a cada commit e as funções serão integradas posteriormente.
      Fique a vontade para acompanhar nosso trabalho e fazer perguntas!
    </ion-card-content>
  </ion-card>

  <ion-searchbar placeholder="ID da doação anônima"></ion-searchbar>

  <ion-card>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Cadastro de aluno (a)</ion-label>
      <ion-button fill="outline" slot="end">Acessar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Acesse para cadastrar o (a) aluno (a) e também os materiais que não consegue comprar
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Doação idenficada</ion-label>
      <ion-button fill="outline" slot="end">Acessar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Acesse para cadastrar-se, buscar por alunos e seus materiais e fazer sua doação!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Doação anônima</ion-label>
      <ion-button fill="outline" slot="end">Acessar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Acesse para fazer a busca por aluno e materiais e fazer sua doação anonimamente!
    </ion-card-content>
  </ion-card>
</ion-content>
