* {
    padding: 5px;
    margin: 5px;
}

.interface1 {
    color: white;
    padding: 10px;
}

#listaMateriais {
    background-color: rgb(158, 161, 201);
}

#botao {
    text-align: center;
}

ion-input {
    background-color: rgb(227, 229, 236);
}

