<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Cadastro de Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="interface1" color="primary">
    <ion-card-title style="text-align: center;">Vamos fazer o cadastro?</ion-card-title>
    <ion-card-content>
      Neste local você deve cadastrar seus dados, os dados do seu filho(a) e os materiais que ele(a) necessita.
    </ion-card-content>
  </ion-card>

  <form action="" id="dados">

    <div id="dadosResponsavel" class="dadosCadastro">
      <fieldset>
        <p>Informações do Responsável:</p>
        <br>
        <ion-icon name="people"></ion-icon>
        <ion-label>Nome Completo do Responsável:</ion-label>
        <ion-input placeholder="Nome completo do responsável"></ion-input>
        <ion-icon name="at"></ion-icon>
        <ion-label>E-mail:</ion-label>
        <ion-input placeholder="E-mail"></ion-input>
        <ion-icon name="home"></ion-icon>
        <ion-label>Endereço Completo:</ion-label>
        <ion-input placeholder="Endereço completo"></ion-input>
      </fieldset>
    </div>

    <div id="dadosAluno" class="dadosCadastro">
      <fieldset>
        <p>Informações do Aluno:</p>
        <ion-icon name="people"></ion-icon><label for="">Nome Completo do Aluno:</label>
        <ion-input placeholder="Nome completo do aluno"></ion-input>
        <ion-icon name="school"></ion-icon><label for="">Escola em que o aluno está matriculado:</label>
        <ion-input placeholder="Escola em que o aluno está matriculado"></ion-input>
        <ion-icon name="home"></ion-icon><label for="">Endereço completo da escola:</label>
        <ion-input placeholder="Endereço completo da escola"></ion-input>
        <ion-icon name="newspaper"></ion-icon><label for="">RA do aluno:</label>
        <ion-input placeholder="RA escolar do aluno"></ion-input>
      </fieldset>
    </div>

    <ion-card class="interface1" color="primary">
      <ion-card-content>
        Informe no campo abaixo os materiais que você gostaria de receber:
      </ion-card-content>

      <ion-item>
        <ion-textarea cols="40" rows="15"
          placeholder="Preencha a lista conforme o exemplo: &#10;&#10;Borracha &#10;Livro de História &#10;Caderno &#10;Lapiseira">
        </ion-textarea>
      </ion-item>

      <div id="botao">
        <ion-button fill="light" style="width: 50%;">Enviar</ion-button>
      </div>
    </ion-card>


  </form>

</ion-content>