<ion-content>

  <div id="head">
    <ion-title>
      <ion-icon id="seta" name="arrow-back-outline"></ion-icon> &nbsp; Olá, Gabriel de Souza!
    </ion-title>
  </div>

  <div id="doacoes">

    <br><br>

    <ion-card>
      <ion-card-header>
        <div class="card">
          <ion-card-title>Você tem uma doação!</ion-card-title> 
          <ion-card-subtitle>Ricardo Rodrigues</ion-card-subtitle>
        </div> &nbsp;&nbsp;
        <div class="card" id="localButton">
          <ion-button color="purple" fill="solid" slot="end">Ver</ion-button>
        </div>
      </ion-card-header>
    </ion-card>
  
  </div>

</ion-content>