<ion-content>

  <div id="head">
   
    <ion-title> <ion-icon id="seta" name="arrow-back-outline"></ion-icon>  &nbsp;  Cadastro de Aluno</ion-title>
    <p> Neste local você deve cadastrar seus dados, os dados do(a) aluno(a) e os materiais que necessita.</p>
  </div>

  <div id="dados-cadastro">
    <form action="" id="dados">

      <p class="info">Informações do Responsável:</p>
      <ion-input class="data" placeholder=" Nome completo"> &nbsp;&nbsp;&nbsp;<ion-icon name="person-outline">
        </ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" E-mail"> &nbsp;&nbsp;&nbsp; <ion-icon name="at-outline"></ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" Telefone"> &nbsp;&nbsp;&nbsp; <ion-icon name="call-outline"></ion-icon>
      </ion-input>

      <p class="info">Informações do Aluno:</p>
      <ion-input class="data" placeholder=" Nome completo"> &nbsp;&nbsp;&nbsp; <ion-icon name="person-outline">
        </ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" Cidade da escola - UF"> &nbsp;&nbsp;&nbsp; <ion-icon
          name="location-outline"></ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" Escola que está matriculado"> &nbsp;&nbsp;&nbsp; <ion-icon
          name="school-outline"></ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" Endereço da escola"> &nbsp;&nbsp;&nbsp; <ion-icon name="home-outline">
        </ion-icon>
      </ion-input>
      <ion-input class="data" placeholder=" RA do aluno"> &nbsp;&nbsp;&nbsp; <ion-icon name="id-card-outline">
        </ion-icon>
      </ion-input>

      <p class="info"> Abaixo, escreva os materiais que você precisa receber e a quantidade: </p>
      <ion-textarea id="txtarea" cols="40" rows="15"
        placeholder="Preencha a lista conforme o exemplo: &#10;&#10;Borracha &#10;Livro de História &#10;Caderno &#10;Lapiseira">
      </ion-textarea>

      <br>
      <div id="botao">
        <button>Enviar</button>
      </div>

    </form>
  </div>

</ion-content>

<!-- 
  OBSERVAÇÕES:
- Falta Importar a fonte INTER no projeto 
- Falta ajustar o HEAD
- Falta arrumar o problema de altura com a "div#dados-cadastrais"
-->