ion-title{ 
    font-family:Inter !important;
    font-size: 20px;
}
ion-card-content{ 
    font-family:Inter !important;
    font-size: 14px;
}
ion-item{ 
    font-family:Inter !important;
    font-size: 16px;
}
ion-button{ 
    font-family:Inter !important;
    font-size: 12px;
}
ion-content ion-searchbar{ 
    font-family:Inter !important;
    font-size: 10px;
}