<ion-content [fullscreen]="true">

  <div id="head">
    <ion-icon id="menu-hamburguer" name="menu-outline"></ion-icon>
    <ion-icon id="seta" name="arrow-back-outline" (click)="voltar()"></ion-icon>
    <h1>Lista para Doações</h1>
  </div>

  <div id="body">

    <div *ngIf="listaAlunos; else carregando">

      <ion-searchbar placeholder="Pesquisar o nome da cidade" (ionInput)="filtrar($event)"></ion-searchbar>
  
      <ion-card *ngFor="let aluno of listaAlunos">
        <ion-item>
          <ion-label>{{aluno.nome}}</ion-label>
          <ion-button color="purple" fill="solid" slot="end" (click)="doar(aluno)">DOAR</ion-button>
        </ion-item>
      
        <ion-card-content>
          <p><strong>RA Escolar: </strong>{{aluno.ra_escolar}}</p>
          <p><strong>Materiais: </strong>{{aluno.material}}</p>
          <p><strong>Endereço da escola: </strong>{{aluno.endereco_escola}}</p>
        </ion-card-content>
      </ion-card>

    </div>
  
    <ng-template #carregando>
      <ion-card color="purple" class="loading">
        <p>Carregando...</p>
      </ion-card>
    </ng-template>

  </div>

</ion-content>