<ion-content>
  <div id="head">
    <p>Cadastro de Aluno</p>
    <p> Neste local você deve cadastrar seus dados, os dados do seu filho(a) e os materiais que ele(a) necessita.</p>
  </div>

  <div id="dados-cadastro">
    <form action="" id="dados">

      <p class="info">Informações do Responsável:</p>
      <ion-input class="data" placeholder="  Nome completo do responsável"></ion-input>
      <ion-input class="data" placeholder="  E-mail"></ion-input>
      <ion-input class="data" placeholder="  Endereço completo"></ion-input>

      <p class="info">Informações do Aluno:</p>
      <ion-input class="data" placeholder="  Nome completo do aluno"></ion-input>
      <ion-input class="data" placeholder="  Escola em que o aluno está matriculado"></ion-input>
      <ion-input class="data" placeholder="  Endereço completo da escola"></ion-input>
      <ion-input class="data" placeholder="  RA escolar do aluno"></ion-input>

      <p class="info"> Informe no campo abaixo os materiais que você gostaria de receber: </p>

      <ion-textarea id="txtarea" cols="40" rows="15"
        placeholder="Preencha a lista conforme o exemplo: &#10;&#10;Borracha &#10;Livro de História &#10;Caderno &#10;Lapiseira">
      </ion-textarea>

      <div id="botao">
        <ion-button fill="light" style="width: 50%;">Enviar</ion-button>
      </div>
    </form>
  </div>




</ion-content>