<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Confirme a Doação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">

    <ion-card-header>
      <ion-card-title>Confirme a Sua Doação!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Verifique abaixo o nome do responsável pela criança, a lista de materiais para doação, a data e o horário da
      doação
      e clique em "confirmar" para confirmar o encontro.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="people-sharp"></ion-icon>
      <ion-card-content>Nome do Responsável:</ion-card-content>
    </ion-item>

    <ion-card-content>Letícia Freitas</ion-card-content>

    <ion-item>
      <ion-icon name="call-sharp"></ion-icon>
      <ion-card-content>Número de Telefone do Responsável:</ion-card-content>
    </ion-item>

    <ion-card-content>+55 13 997762148</ion-card-content>

    <ion-item>
      <ion-icon name="school-sharp"></ion-icon>
      <ion-card-content>Lista de Materiais Solicitada:</ion-card-content>
    </ion-item>

    <ion-card-content>Caderno de 10 matérias<br> Livro de História <br> Lapiseira <br> Mochila</ion-card-content>


    <ion-item>
      <ion-icon name="location-sharp"></ion-icon>
      <ion-card-content>Ponto de Encontro Recomendado:</ion-card-content>
    </ion-item>

    <ion-card-content>Escola Estadual Dona Luiza Macuco</ion-card-content>
    <ion-card-content>Avenida Afonso Pena 549 - Ponta da Praia, Santos - SP</ion-card-content>

  </ion-card>

  <br>

  <div id="data">
    <ion-item>
      <h2>Informe a data e a hora do encontro:</h2>
    </ion-item>

    <ion-input placeholder="Exemplo: 01/05/2021 as 14:30"></ion-input>
  </div>

  <br>

  <div id="confirmacao" style="text-align: center;">

    <div id="alerta">

        <ion-card id="alertaTexto">
          <strong>Alerta COVID-19</strong>
        </ion-card>

      <ion-card-content>Limpe e esterilize os materiais<br> antes de enviar para evitar transmitir o COVID-19.
      </ion-card-content>
    </div>

    <br>

    <ion-button color="primary">CONFIRMAR</ion-button>
    <ion-button color="primary">CANCELAR</ion-button>
  </div>
</ion-content>