* {
    margin: 5px;
}

#confirmacao {
    padding: 10px;
    width: 20em;
    height: 5em;
    margin: auto;
}

#alerta {
    box-shadow: black 0px 0px 4px;
    padding: 15px;
}

#data {

}

ion-input {
    background-color: rgb(227, 229, 236);
    width: 400px;
}
